<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KCuevasProgramacioNCapasEntities" connectionString="metadata=res://*/KCuevasProgramacionNCapas.csdl|res://*/KCuevasProgramacionNCapas.ssdl|res://*/KCuevasProgramacionNCapas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=KCuevasProgramacioNCapas;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
